body {
  background-color: #eee;
  font-size: 24pt;
}
table {
  padding: 2rem;
  border-spacing: 0.5rem 0;
}
td:first-child {
  padding-right: 1rem;
}
footer {
  float:right;
  font-size:.75rem;
}
.up::before {
  content: "\25b2";
  color: green;
}
.down::before {
  content: "\25bc";
  color: red; 
}
.changed-true {
  background-color: #ccc;
}