body {
  background-color: #eee;
  font-size: 24pt;
}
table {
  padding: 2rem;
}
td {
  padding-right: 2rem;
}
footer {
  float:right;
  font-size:.75rem;
}
.up::before {
  content: "\25b2";
  color: green;
}
.down::before {
  content: "\25bc";
  color: red; 
}